$mirage: #191927;
$steel-gray: #222230;
$tuna: #303042;
$tree-poppy: #F68B24;
$waterloo: #7d7d94;
$white: #fff;

$adminPageBg: $mirage;
$adminPageColor: $white;

$adminBtnBgColor: $tree-poppy;
$adminBtnBorderColor: $tree-poppy;
$adminBtnColor: $steel-gray;

$blockBg: $steel-gray;

$inputBg: $tuna;
$inputBorder: $tree-poppy;
$inputColor: $white;

$fieldDescriptionColor: $waterloo;

$tabBg:$tuna;
