@import "colors";

.color-white {
  color:#fff;
}

.bg-steel-gray {
  background-color:$steel-gray;
}

.color-steel-gray {
  color:$steel-gray;
}

.bg-tree-poppy {
  background-color:$tree-poppy;
}

.color-tree-poppy  {
  color:$tree-poppy;
}

.bg-tuna {
  background-color:$tuna;
}

.color-tuna  {
  color:$tuna;
}
