//===========================================================================/
//
//    The purpose of this file is to define the color variables
//    that will be used throughout the project components.
//
// ----------------------------------------------------------------------
//
//    You can use cool names for your colors by using this tool:
//    https://chir.ag/projects/name-that-color
//
//==========================================================================/



//============================================/
//    Generic Default Colors
//==========================================/
$hospital-white: #fff;
$black-metal: #000;
$dove-gray: #666;
$gallery: #eee;
$mercury: #e5e5e5;


//============================================/
//    Color Palette of the Project
//==========================================/
$palette-color1: #5e0821;
$palette-color2: #660c26;
$palette-color3: #712c38;
$palette-color4: #fba919;
$palette-color5: #fdf2cc;


//============================================/
//    Components Colors
//==========================================/
